# /
.DS_Store
email-templates/
*/orca-news/*
.wrangler/
node_modules/.cache/
node_modules/.mf/
# this is used for a local testing server, we should still use cf pages
site/.htaccess

# /site
site/departments/*
site/clubs.html
site/404.html
site/edit-requests.html
site/contact.html
site/.wrangler/
# "keepers". they MUST exist, to prevent dir not found failing build
!site/departments/_
!site/orca-news/_
