<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}ElginParkSecondary.com: Elgin Park's Digital Home{% endblock %}</title>
  <link rel="stylesheet preload" type="text/css" as="style" href="/resources/stylesheets/base.css">
  <link rel="stylesheet preload" type="text/css" as="style" href="/resources/stylesheets/{% block stylesheet %}{% endblock %}">
  <link rel="icon" type="image/x-icon" href="elgin_logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="keywords" content="Elgin Park Secondary, Elgin Park, Orca News, EPS, SD36, Surrey Schools">
  <script type="application/ld+json">
    {
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "name" : "Elgin Park Secondary",
    "url" : "https://elginparksecondary.com/"
    }
  </script>
  {% block head %}{% endblock %}
</head>
<body>
  <script>const FX_FOUC = undefined // May the console log message stay with us.</script>
  <nav id="nav">
    <menu class="l1">
      <a href="/home.html" title="Go home"><picture>
        <source srcset="/resources/images/logo/eps-logo.svg" type="image/svg+xml">
        <img src="/resources/images/logo/eps-logo.png" id="img1" alt>
      </picture></a>
        <div class="NavItem">
          <li><button onclick="location.href='/home.html'">Home</button></li>
          <li class="dropdown">
          <button class="dropbtn1">Departments</button>
          <div class="dropdown-content">
            <a class="dropbtn2" href="/business.html">Business Education</a>
            <a class="dropbtn2" href="/careers.html">Career Education</a>
            <a class="dropbtn2" href="/ell.html">English Language Learning</a>
            <a class="dropbtn2" href="/fine_arts.html">Fine Arts</a>
            <a class="dropbtn2" href="/home_ec.html">Home Economics</a>
            <a class="dropbtn2" href="/english.html">Language Arts</a>
            <a class="dropbtn2" href="/language_arts.html">Languages</a>
            <a class="dropbtn2" href="/mathematics.html">Mathematics</a>
            <a class="dropbtn2" href="/physical_ed.html">Physical Education</a>
            <a class="dropbtn2" href="/science.html">Sciences</a>
            <a class="dropbtn2" href="/social_studies.html">Social Studies</a>
            <a class="dropbtn2" href="/tech_ed.html">Technology Education</a>
          </div>
        </li>
        <li class="dropdown">
          <button class="dropbtn1">Specialized Programs</button>
          <div class="dropdown-content">
          <a class="dropbtn2" href="advanced_placement.html">Advanced Placement</a>
          <a class="dropbtn2" href="leadership.html">Leadership</a>
          </div>
        </li>
        <li><button onclick="location.href='forms.html'">Forms</button></li>
        <li><button  onclick="location.href='contact.html'">Contact</button></li>
      </div>
    </menu>
  </nav>
  <main id="main">
    {% block main %}{% endblock %}
  </main>
  <footer id="footer">
    <div id="edit-request">
      <p>Noticed a mistake, or simply want to update your course or club page? <a id="edit-request-link" href="/edit-requests?url={% block url %}{% endblock %}">Submit an edit request!</a></p>
    </div>
    <div id="land">
      <p>The students and staff at Elgin Park Secondary work, learn, and play on the unceded and ancestral territories of the Katzie, Semiahmoo, Kwantlen and other Coast Salish Peoples. As responsible members of the Elgin community, we recognize the importance of taking the initiative to learn about and honour the history and traditions of the peoples whose lands we occupy.</p>
    </div>
    <div id="first-nation-seals">
      <img class="pp1" src="/resources/images/land-ack/kwantlen/kwantlen.png" width="6%" alt="Seal of Kwantlen First Nation">
      <img class="pp1" src="/resources/images/land-ack/katzie/katzie.png" width="6%" alt="Seal of Katzie First Nation">
      <img class="pp1" src="/resources/images/land-ack/semiahmoo/semiahmoo.png" width="6%" alt="Seal of Semiahmoo First Nation">
    </div>
    <div id="copyright">
      <p>Content © Elgin Park Secondary staff and student contributors. Website code © Elgin Park Computer Programming Club. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
