{% extends "base.html" %}

{% block url %}{% endblock %}

{% block title %}Clubs - ElginParkSecondary.com{% endblock %}
{% set stylesheet = 'clubs.css' %}
{% set description = 'Elgin Park has over ' + clubs | length | string + " clubs for all your interests, from art and chess to helping out in the community and more! Don't see a club? Start your own!" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.css" crossorigin="anonymous" integrity="sha512-jGFXuWMxJUKzdfBmoyqCXz9k2AU3Z/ZNoayoUPEBAtJZjHbTbw50AxTR1ICVPQJbSamH9ny1JwOur0x4WOdcWQ==">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.js" crossorigin="anonymous" integrity="sha512-l8cIzs5aAJutiOPIyW/9PAvDevwTA8F17Pmge51rwmKBkjZ47tap3kRv+pI8JX9owkkBpRMuOIUE7v+Rg6os9w==" async></script>
{% endblock %}

{% block main %}
  <h1>Clubs</h1>
    <p>Elgin Park has over <b>{{ clubs | length }} clubs</b>, for all your interests, whether that's art, chess, or helping out in the community, and more!</p>
    <details id="toc">
      <summary>Table of contents</summary>
      <ul aria-label="Clubs">
        {% for club in clubs %}
          <li><a href="#{{ club["id"] }}">{{ club["name"] | safe}}</a></li>
        {% endfor %}
        <li><a href="#start-your-own-club">Start a club</a></li>
      </ul>
    </details>


  {% for club in clubs %}
    <article id="{{ club["id"] }}" class="club" aria-label="{{ club["name"] | safe }}">
      <a class="club-claim-link"
         href="/edit-requests?url=https%3A%2F%2Fwww.elginparksecondary.com%2Fclubs%3F%23{{ club["id"] }}" aria-label="Request an edit for {{ club["name"] }}" title="Request an edit">
        <img src="/resources/images/pencil.svg" alt>
      </a><h2>{{ club["name"] | safe }}</h2>
      {% if club["instagram"] %}
        <a class="instagram-icon" href="https://www.instagram.com/{{ club["instagram"] }}/" aria-label="{{ club["name"] }}'s Instagram"><img width="28vw" src="/resources/images/instagram.svg" alt></a>
      {% endif %}
      {% if club["logo"] %}
        <img class="club-logo" src="/resources/images/clubs/{{ club["id"] }}/logo.{{ club["logo"] }}" alt>
      {% endif %}
      <span class="club-info">
        Sponsored by {{ club["sponsor"] }}<br>
        {% if club["teams-code"] %}Teams code: {{ club["teams-code"] }}<br>{% endif %}
        {% if club["meeting-days"] %}{% for day in club["meeting-days"] %}{{ day }}, {% endfor %}in {% endif %}
        {{ club["meeting-room"] }}
      </span>
      {% if club["desc"] %}<p>{{ club["desc"] | safe }}</p>{% endif %}
    </article>
  {% endfor %}
  <article id="start-your-own-club" aria-label="Start your own club">
    <div id="start-club-text">
      <h2>Start your own club</h2>
      <p>Don't see a club you're interested in? Start your own!</p>
      <p>Find a sponsor teacher for a meeting room and fill out the club proposal form in the office.</p>
      <p>Then, <a href="/edit-requests?url=https%3A%2F%2Felginparksecondary.com%2Fclubs%3F%23NEW-CLUB">
        submit an edit request</a>
        to get your club listed here, get some people to join it, and go!</p>
    </div>
  </article>
{% endblock %}