{% extends "base.html" %}

{% block url %}{% endblock %}

{% block title %}Clubs - Elgin Park Secondary{% endblock %}
{% set stylesheet = 'clubs.css' %}
{% block head %}
    <link rel="stylesheet preload" type="text/css" as="style" href="/resources/lite-youtube-embed/src/lite-yt-embed.css">
    <script rel="preload" src="/resources/lite-youtube-embed/src/lite-yt-embed.js"></script>
{% endblock %}

{% block main %}
  <h1>Clubs</h1>
    <p>Elgin Park has over <b>26 clubs</b>, from anime cosplay to helping out in the community, letting you do what you love at school!</p>
    <div id="toc">
      <ul>
        {% for club in clubs %}
          <li><a href="#{{ club["id"] }}">{{ club["name"] | safe}}</a></li>
        {% endfor %}
      </ul>
    </div>


  {% for club in clubs %}
    <article id="{{ club["id"] }}" class="club">
      <h2>{{ club["name"] | safe }}</h2>
      <span class="club-info">
        {% if not club["claimed"] %}
          <a class="club-claim-link" href="/edit-requests?url=https://elginparksecondary.com/clubs">Request an edit</a>
          <br>
        {% endif %}
        Sponsored by {{ club["sponsor"] }}<br>
        {% if club["teams-code"] %}Teams code: {{ club["teams-code"] }}<br>{% endif %}
        {% if club["meeting-days"] %}{% for day in club["meeting-days"] %}{{ day }}, {% endfor %}in {% endif %}
        Room {{ club["meeting-room"] }}
      </span>
      {% if club["desc"] %}<p>{{ club["desc"] | safe }}</p>{% endif %}
    </article>
  {% endfor %}
  <article id="start-your-own-club">
    <div id="start-club-text">
      <h2>Start your own club</h2>
      <p>Don't see a club you're interested in? Start your own!</p>
      <p>Find a sponsor teacher for a meeting room, fill out the club proposal form in the office, get some friends and go!</p>
    </div>
  </article>
{% endblock %}