{% extends "base.html" %}

{% block url %}{% endblock %}

{% block title %}{{ dept["name"] }} - Elgin Park Secondary{% endblock %}
{% set stylesheet = 'departments.css' %}
{% if dept["has-youtube"] %}
  {% block head %}
    <link rel="stylesheet preload" type="text/css" as="style" href="/resources/lite-youtube-embed/src/lite-yt-embed.css">
    <script rel="preload" src="/resources/lite-youtube-embed/src/lite-yt-embed.js"></script>
  {% endblock %}
{% endif %}

{% block main %}
  <h1>{{ dept["name"] }}</h1>

  <menu id="dept-toc">
    {% for section in dept["sections"] %}
      <li><a href="#{{ section["id"] | safe }}">{{ section["name"] | safe}}</a></li>
    {% endfor %}
  </menu>

  {% for section in dept["sections"] %}
    <section id="{{ section["id"] | safe }}">
      <h2>{{ section["name"] | safe }}</h2>
      <div class="toc">
        <figure>
          <figcaption><h3>Contents</h3></figcaption>
          <menu>
            {% for course in section["courses"] %}
              <li><a href="#{{ course["code"] | safe }}">{{ course["name"] | safe}}</a></li>
            {% endfor %}
          </menu>
        </figure>
      </div>

    {% for course in section["courses"] %}
      <article id="{{ course["code"] }}" class="course">
        <h3>{{ course["name"] }}</h3>
        <div class="course-icons">
          {% for grade in course["grades"] %}
            <span class="grade{{ grade }}">{{ grade }}</span>
          {% endfor %}
          {% if course["elective"] %}
            <span class="elec">Elective</span>
          {% else %}
            <span class="req">Required</span>
          {% endif %}
        </div>
        <div class="course-code">
          Course Code: {{ course["code"] }}
        </div>
        {% if course["youtube"] %}
          <lite-youtube class="youtube-embed" videoid="{{ course["youtube"] }}" playlabel="Video for {{ course["name"] }}"></lite-youtube>
        {% endif %}
        <p>{{ course["desc"] }}</p>
      </article>
    </section>
    {% endfor %}
  {% endfor %}

{% endblock %}