{% extends "base.html" %}

{% block title %}{{ dept["name"] }} - ElginParkSecondary.com{% endblock %}
{% set stylesheet = 'departments.css' %}
{% if dept["has-youtube"] %}
  {% block head %}
    <link rel="stylesheet" type="text/css" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.js" async></script>
  {% endblock %}
{% endif %}

{% block main %}
  <h1>{{ dept["name"] }}</h1>

  <ul id="dept-toc" aria-label="Department table of contents">
    {% for section in dept["sections"] %}
      <li><a href="#{{ section["id"] | safe }}">{{ section["name"] | safe}}</a></li>
    {% endfor %}
  </ul>

  {% for section in dept["sections"] %}
    <section id="{{ section["id"] | safe }}" aria-label="{{ section["name"] }}">
      <h2>{{ section["name"] | safe }}</h2>
      {% if section["courses"] | length > 1 %}
        <div class="toc" aria-label="{{ section["name"] }} table of contents">
          <figure>
            <figcaption><h3>Contents</h3></figcaption>
            <ul>
              {% for course in section["courses"] %}
                <li><a href="#{{ course["code"] | safe }}">{{ course["name"] | safe}}</a></li>
              {% endfor %}
            </ul>
          </figure>
        </div>
      {% endif %}

    {% for course in section["courses"] %}
      <article id="{{ course["code"] }}" class="course" aria-label="{{ course["name"] }}">
        <h3>{{ course["name"] }}</h3>
        <div class="course-icons">
          {% for grade in course["grades"] %}
            <span class="grade{{ grade }} course-info-icon" aria-label="Grade {{ grade }}">{{ grade }}</span>
          {% endfor %}
          {% if course["elective"] %}
            <span class="elec course-info-icon">Elective</span>
          {% else %}
            <span class="req course-info-icon">Required</span>
          {% endif %}
        </div>
        <div class="course-code">
          Course Code: {{ course["code"] }}
        </div>
        {% if course["youtube"] %}
          <lite-youtube class="youtube-embed" videoid="{{ course["youtube"] }}" playlabel="Video for {{ course["name"] }}"></lite-youtube>
        {% endif %}
        <p>{{ course["desc"] }}</p>
      </article>
    </section>
    {% endfor %}
  {% endfor %}

{% endblock %}