{% extends "base.html" %}

{% block title %}{{ dept["name"] }} - Elgin Park Secondary{% endblock %}
{% block stylesheet %}departments.css{% endblock %}
{% if dept["has-youtube"] %}
  {% block head %}
    <link rel="stylesheet preload" type="text/css" as="style" href="/resources/lite-youtube-embed/src/lite-yt-embed.css">
    <script rel="preload" src="/resources/lite-youtube-embed/src/lite-yt-embed.js"></script>
  {% endblock %}
{% endif %}

{% block main %}
  <h1>{{ dept["name"] }}</h1>

  <div class="toc">
    <h2>Contents</h2>
    <ul>
      {% for section in dept["sections"] %}
        <li><a href="#{{ section["name"] | lower() | replace(" ", "-") | safe }}">{{ section["name"] | safe}}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}