{% extends "base.html" %}

{% block title %}ElginParkSecondary.com: Elgin Park's Digital Home{% endblock %}
{% set stylesheet = 'index-new.css' %}
{% set description = "Elgin Park Secondary's digital home, by students, for students. Find courses, clubs, news, events and more, all on ElginParkSecondary.com!" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.css" crossorigin="anonymous" integrity="sha512-jGFXuWMxJUKzdfBmoyqCXz9k2AU3Z/ZNoayoUPEBAtJZjHbTbw50AxTR1ICVPQJbSamH9ny1JwOur0x4WOdcWQ==">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.js" crossorigin="anonymous" integrity="sha512-l8cIzs5aAJutiOPIyW/9PAvDevwTA8F17Pmge51rwmKBkjZ47tap3kRv+pI8JX9owkkBpRMuOIUE7v+Rg6os9w==" async></script>
{% endblock %}

{% block main %}
  <div id="topinfo">
    <img id="elginorca1" src="/resources/images/logo/elgin_orca.png" alt>
    <h1 id="digihome">The Digital Home For All Elgin Park Secondary Students!</h1>
    <img id="elginorca2" src="/resources/images/logo/elgin_orca.png" alt>
  </div>

  <div id="container">
    <section id="processInfo">
      <h2 id="processTitle">Course Selection Process</h2>
      <lite-youtube class="youtube-embed" videoid="Jw8X9cU7RRg"
                  playlabel="MyEducation BC course selection instructions"></lite-youtube>
      <ol aria-labelledby="processTitle">
        <li>Have your MyEducation BC password ready. If you forgot your password and have not set a recovery email and security question:
          <ul aria-label="Password reset">
            <li>
              If you have an email client (you access email using a desktop or mobile app),
              <a href="mailto:elginpark@surreyschools.ca?subject=Portal%20Login&body=Full%20name%3A%20%0AGrade%3A%20%0AAccount%20to%20be%20reset%20(student%20or%20parent)%3A%0A%0APlease%20reset%20my%20MyEducation%20BC%20password.%20Thank%20you.">
                open your email client and prefill the subject line and instructions</a>.
            </li>
            <li>Otherwise, please email: elginpark@surreyschools.ca</li>
            <li>Subject line: Portal Login</li>
            <li>Please include:<ul aria-label="Password reset: information to be included">
              <li>Full name</li>
              <li>Grade</li>
              <li>Which account needs to be reset (student or parent)</li>
            </ul></li>
            <li>If possible, send this through your @surreyschools.ca email address.</li>
          </ul>
        </li>
        <li>Explore this website so that you are familiar with all courses that Elgin Park offers. Please watch the
          videos and pay attention to flow charts and explanations to ensure you are choosing the course that is right
          for you.
        </li>
        <li>If applying to a specialized course or program, please fill out the <a href="/forms">appropriate application form</a>
          and return to your <a href="/contact#students">alpha counsellor</a>.
        </li>
        <li><a href="https://myeducation.gov.bc.ca">Log in to <abbr title="MyEducation BC">MyEd</abbr>.</a></li>
        <li>Follow the <a href="/forms.html#sct">steps to select courses in <abbr title="MyEducation BC">MyEd</abbr></a>.</li>
      </ol>
    </section>
    <div id="clear"></div>
  </div>
{#  <div id="pdf-instructions">#}
{#    SELECTING COURSES IN MyED#}
{#    <br>#}
{#    <a class="pdf-instructions-button" href="/forms.html#sct">PDF Instructions</a><!-- TODO: style as button (originally a button with href, not allowed) -->#}
{#  </div>#}
  <div id="deadline-gr12-countdown">
    COURSE SELECTION DEADLINE
    <br>
    <div id="CountdownDateGr12"></div>{# TODO: countdown #}
  </div>

  <h3 id="choosing-courses">
    Choosing courses
  </h3>

  <div id="choosing-courses-text">
    Students are encouraged to read course descriptions and watch the accompanying videos in addition to consulting with
    their parents and their counsellor before finalizing course selections for next year. In selecting courses,
    particularly for grade 10 and 11 students, post-secondary options should be considered.
    <a href="https://www.educationplannerbc.ca/">Education Planner BC</a> is a resourceful online site that students
    can use to help check post secondary requirements in addition to visiting their choice post secondary institution
    websites.
  </div>

  <h3 id="ministryTitle">
    Ministry Indigenous-focused graduation requirement
  </h3>

  <div id="ministry">
    All grade 12s will be taking English 12 First Peoples. This is to meet the new Ministry requirement for graduation
    which is a minimum of 4 credits in an Indigenous Focused course.
  </div>

  <h2 class="all-caps">Course requirements</h2>
  <div id="course-requirements-content">
    <div class="boxGrade">
      <h3 class="boxGradeTitle">Grade 9</h3>
      Students in Grade 9 are required to take a minimum of 9 courses. Please see the Course Planning Sheet for more
      information. The general courses grade 9s require are as follows:
      <ul>
        <li>English 9</li>
        <li>Mathematics 9</li>
        <li>Social Studies 9</li>
        <li>Science 9</li>
        <li>Physical Education 9</li>
        <li>Three electives</li>
      </ul>
    </div>

    <div class="boxGrade">
      <h3 class="boxGradeTitle">Grade 10</h3>
      Students in Grade 10 are required to take a minimum of 8 courses. The general courses grade 10s require are as
      follows:
      <ul>
        <li>A Language Arts 10</li>
        <li>Any Mathematics 10</li>
        <li>Social Studies 10</li>
        <li>Science 10</li>
        <li>Career Life Education 10</li>
        <li>Physical Education 10</li>
        <li>Two (2) electives</li>
      </ul>
      <br>
    </div>


    <div class="boxGrade">
      <h3 class="boxGradeTitle">Grade 11</h3>
      Students in Grade 11 are required to take a minimum of 8 courses. The general courses grade 11s require are as
      follows:
      <ul>
        <li>A Language Arts 11</li>
        <li>Any Mathematics 11</li>
        <li>Any Science 11</li>
        <li>A Social Studies 11 or 12 (may be taken in Grade 11 or 12)</li>
        <li>*Career Life Connections (may be taken in Grade 11 or 12 but grade 11 is recommended)</li>
      </ul>
    </div>

    <div class="boxGrade">
      <h3 class="boxGradeTitle">Grade 12</h3>
      Students in Grade 12 are required to take a minimum of 8 courses.
      <ul>
        <li>English First Peoples 12 (Language Arts 12 requirement</li>
        <li>3 other Grade 12 courses</li>
        <li>A Social Studies 11 or 12 (if you have not taken one in Grade 11)</li>
        <li>Career-Life Connections (If not taken in grade 11)</li>
      </ul>
    </div>
  </div>
{% endblock %}