body,
html {
    height: 85%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#sectionerWhite,
#sectionerAlt {
    min-height: 100vh;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

#sectionerWhite {
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
}

#sectionerAlt {
    background-color: lavender;
}

#contactHeader {
    text-align: center;
    margin-bottom: 40px;
}

#contactHeader h1 {
    font-size: 2.7em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 50px;
}

#schoolContact {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

#schoolContact h2 {
    font-size:1.7em;
    color: #5e3356;
    margin-bottom: 15px;
    margin-top : 10px;
}

#schoolContact p {
    color:#333;
    margin: 8px 0;
    font-size: 1.1em;
}

#counsellorsTable {
    max-width: 1000px;
    margin: 0 auto;
}

#counsellorsTable h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#counsellorsTable table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

#counsellorsTable th {
    font-size: 1.3em;
    background-color: #5e3356;
    color: white;
    padding: 12px;
    text-align: middle;
}

#counsellorsTable td {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

#counsellorsTable tr:nth-child(even) {
    background-color: #f8f9fa;
}

#counsellorsTable tr:hover {
    background-color: #f1f1f1;
}

#counsellorsTable a {
    color: #6322b9;
    text-decoration: none;
}

#counsellorsTable a:hover {
    text-decoration: underline;
}

.p1 {
    font-size: 50px;
}

.p2 {
    font-size: 30px;
}


#img2 {
    padding-top: 12px;
    padding-left: 12px;
    height: 65px;
    width: 135px;
    position: relative;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}

#img3 {
    padding-top: 12px;
    padding-left: 12px;
    height: 65px;
    width: 135px;
    position: relative;
    float: right;
    margin-right: 3%;
    margin-top: 1%;
}


#main {
    margin-top: inherit;
    padding-top: 0.5%;
    /* padding-bottom: 0.5%; */
    /* height: auto;
    background-image: url('bg.jpg');
    background-repeat: repeat;
    filter: grayscale(20%);
    background-attachment: fixed; */
}

#p1 {
    color: black;
    padding-top: 2%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
}

#p2 {
    color: black;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#textSpace {
    top: 0px;
    height: auto;
    width: inherit;
    margin-right: 12%;
    margin-left: 12%;
    background-color: white;
    overflow: clip;
    border-radius: 15px;
}

#credits {
    text-align: center;
    padding: 0 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

#credits h3 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #333;
}
#credits h2 {
    font-size: 1.4em;
    margin-bottom: 1.5em;
    color: #333;
}

#credits center img {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px 0;
    max-width: 100%;
    height: auto;
}

#lit {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
}

#lit li {
    padding: 3px 3px 3px 15px;
    text-align: left;
    border-left: 1px solid #6a5acd;
    margin-bottom: 2px;
    font-size: 0.95em;
}

#article1Title {
    font-size: 30px;
    color: #40263B;
    font-family: Garamond;
}

#article1 {
    font-size: 30px;
    color: #40263B;
    font-family: Garamond;
}

#processInfo {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    margin-right: 50%;
    font-family: arial;
    line-height: 1.5;
}

#choosingCourses {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    margin-left: 50px;
    margin-left: 50px;
}

#theGraduationProgram {
    font-size: 20px;
    font-family: lato thin;
    font-weight: 50;
}


table,
td,
tr {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 30%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

table {
    border-style: none;
    width: 100%;
}

#table1 {
    margin-right: 10%;
    margin-left: 10%;
}

hr {
    border: 0;
    height: 2px;
    background-color: purple;
    margin: 10px 0;
}
