body,
html {
    height: 85%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonC {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #40263B;
    font-size: 30px;
    border: none;
    border-radius: 15px;
}

.anchord {
    display: flex;
    row-gap: 11px;
    justify-content: center;
    align-items: center;
}

#anchor {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #40263B;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    white-space: nowrap
}

#anchor:hover {
    background-color: #332B50;
}

.div-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.img {
    transition: transform .2s;
    margin: 0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}

.img:hover {
    transform: scale(1.5);
}

.buttonC:hover {
    background-color: #37023C
}

.buttonC:active {
    background-color: #37023C;
    transform: translateY(1px);
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url("scool.jpg");
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.p1 {
    font-size: 50px;
}

.p2 {
    font-size: 30px;
}

#img1 {
    padding-top: 12px;
    padding-left: 12px;
    height: 65px;
    width: 135px;
    position: absolute;
}

#img2 {
    padding-top: 12px;
    padding-left: 12px;
    height: 65px;
    width: 135px;
    position: relative;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}

#img3 {
    padding-top: 12px;
    padding-left: 12px;
    height: 65px;
    width: 135px;
    position: relative;
    float: right;
    margin-right: 3%;
    margin-top: 1%;
}

#img4 {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 20%;
    margin-bottom: 20%;
}

#img5 {
    width: 333px;
    height: 186px;
    margin-right: 10%;
}

/* #navbar {
    background-color: #40263B;
    height: 90px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 8px;
    border-color: #4D42B3;
    position: sticky;
    position: -webkit-sticky;
    top: 0; */
    /* required */
    /* overflow: auto;
} */

#main {
    margin-top: inherit;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    height: auto;
    background-image: url('bg.jpg');
    background-repeat: repeat;
    filter: grayscale(20%);
    background-attachment: fixed;
}

#p1 {
    color: black;
    padding-top: 2%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
}

#p2 {
    color: black;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bold;
}

/* .navB {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarItem1 {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-top: 24px;
    margin-left: 1%;
    display: inline-block;
} */

#textSpace {
    top: 0px;
    height: auto;
    width: inherit;
    padding-bottom: 5%;
    margin-right: 12%;
    margin-left: 12%;
    background-color: white;
    overflow: clip;
    border-radius: 15px;
}

#article1Title {
    font-size: 30px;
    color: #40263B;
}

#article1 {
    font-size: 30px;
    color: #40263B;
}

#processInfo {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    margin-right: 50%;
    line-height: 1.5;
}

#choosingCourses {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    margin-left: 50px;
    margin-left: 50px;
}

#theGraduationProgram {
    font-size: 20px;
    font-weight: 50;
}

.l1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #40263b;
    height: 90px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 8px;
    border-color: #4D42B3;
}

.l1 li {
    float: left;
}

/* li button,
.dropbtn1 {
    border: none;
    padding: 0px 15px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    overflow: hidden;
    background-color: #40263b;
    height: 90px;
    width: 100%;
}

li.dropdown {
    transition: ease-in-out 0.5s;
    display: inline-block;
}

.dropdown-content {
    margin-left: 20px;
    transition: ease-in-out 0.5s;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    transition: ease-in-out 0.5s;
    display: block;
}

.dropdown:active .dropdown-content {
    transition: ease-in-out 0.5s;
    display: block;
}

.dropdown:focus .dropdown-content {
    transition: ease-in-out 0.5s;
    display: block;
}

.dropdown-content a {
    transition: ease-in-out 0.5s;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

.dropdown-content a:hover {
    transition: ease-in-out 0.5s;
    color: black;
    background-color: #f1f1f1;
}

li a div,
.dropbtn2 {
    margin-left: 25px;
    margin-right: 25px;
    border: none;
    padding: 16px 32px;
    border-radius: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.dropdown-content2 {
    transition: ease-in-out 0.5s;
    position: absolute;
    background-color: #f9f9f9;
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.dropdown-content2 a {
    transition: ease-in-out 0.5s;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

.dropdown-content2 a:hover {
    transition: ease-in-out 0.5s;
    color: black;
    background-color: #f1f1f1;
}

.db1:hover .dropdown-content2 {
    transition: ease-in-out 0.5s;
    display: block;
}

.NavItem {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: x-large;
    z-index: 10;
    justify-content: center;
    align-items: center;
} */

#ul1 {
    color: black;
    font-size: 20px;
    float: left;
}

#div1 {
    margin-bottom: 80px;
    height: 250px;
}

#div2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

video {
    height: 600px;
    width: 900px;
}

#layout1 {
    margin-top: 5%;
    width: inherit;
    margin-right: 10%;
    margin-left: 10%;
    overflow: auto;
    height: auto;
    border-style: solid;
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 255, .2);
}

h1,
h2 {
    margin-left: 2%;
    margin-right: 2%;
}

.texts {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
}

.grade8 {
    margin-left: 2%;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    width: 2em;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    background-color: #A6E1FA;
    color: white;
    padding: 11px;
    padding-right: 17px;
    padding-left: 17px;
}

.grade9 {
    margin-left: 2%;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    width: 2em;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
    color: white;
    padding: 11px;
    padding-right: 17px;
    padding-left: 17px;
}

.grade10 {
    margin-left: 2%;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    width: 2em;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: green;
    color: white;
}

.grade11 {
    margin-left: 2%;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    width: 2em;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    color: white;
    padding: 11px;
}

.grade12 {
    margin-left: 2%;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    width: 2em;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    background-color: gold;
    color: white;
    padding: 11px;
}

.req {
    margin-left: 2%;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    width: 2em;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    background-color: purple;
    color: white;
    padding: 11px;
}

#lit {
    font-size: 20px;
}

.elec {
    margin-left: 2%;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    width: 2em;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 11px;
}

.downloadableContent {
    padding-top: 8px;
    line-height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
    float: left;
    width: 404px;
}

.downloadLine {
    border-top: solid 3px;
}