body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    width: 100%;
    height: 100%;

}
#background {
    background-color:  #543288;
    border: 10px solid;
    height: 800px;
    transform: rotate(-31deg);        
    padding-bottom: 140%;
    margin-right: -105%;
    margin-top: -50%;
}
#kidImage{
    width: 100%;
    height: 100%;
    margin: 0%;
}

#bottomHalf {
    margin-top: 37%;
    margin-right: -200px;
    width: 200%;
    padding-bottom: 100%;
    background-color: #543288;
    rotate: -45deg; 
    border-top: 8px solid black;
    float: right;
    position: relative;
    z-index: 2000;
}

#formBox{
    background-color: white;
    
}

#anger{
    color: #950F3E;
}
