/* General Page Setup */
body,
html {
    height: 85%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero Section */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url("scool.jpg");
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.p1 {
    font-size: 50px;
}

.p2 {
    font-size: 30px;
}

/* Navigation Bar */
.l1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #40263b;
    height: 90px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 8px;
    border-color: #4D42B3;
}

.l1 li {
    float: left;
}

li button,
.dropbtn1 {
    border: none;
    padding: 0px 15px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: #40263b;
    height: 90px;
    width: 100%;
}

/* Dropdown Menu */
li.dropdown {
    transition: ease-in-out 0.5s;
    display: inline-block;
}

.dropdown-content {
    transition: ease-in-out 0.5s;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: inherit;
    z-index: 1;
    /* border-radius: 20px; */ /*Gives rounded edges to the whole dropdown box*/
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content,
.dropdown:focus .dropdown-content {
    display: block;
}

.dropdown-content a {
    transition: background-color ease-in-out 0.1s;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 16px 16px;
    /* border-radius: 20px;*/ /*Gives rounded edges when hovering over dropdown items */
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

/* Navigation Items */
.NavItem {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: x-large;
    justify-content: center;
    align-items: center;
}

.NavItem button {
    transition: ease-in-out 0.2s;
}

.NavItem button:hover {
    background-color: #332333;
}

/* Header Images */
#img1 {
    padding-top: 12px;
    padding-left: 12px;
    height: 65px;
    width: 135px;
    position: absolute;
}
