{% extends 'base.html' %}

{% block title %}School Events Calendar - ElginParkSecondary.com{% endblock %}
{% set stylesheets = ['orca-news/base.css', 'orca-news/calendar.css'] %}
{% block head %}
  <noscript><style>#loading-text { display: none; } body { cursor: auto !important;}</style></noscript>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/index.global.min.js" crossorigin="anonymous" integrity="sha512-PneTXNl1XRcU6n5B1PGTDe3rBXY04Ht+Eddn/NESwvyc+uV903kiyuXCWgL/OfSUgnr8HLSGqotxe6L8/fOvwA=="></script>
  <script src="/resources/scripts/orca-news/calendar_data.js"></script>
{% endblock %}

{% block main %}
  <h1>School Events Calendar</h1>
  <div id="loading-message">
{#    <label id="loading-text">Loading <span id="loading-step">the calendar</span>... <progress aria-hidden="true"></progress></label>#}
    <noscript>This page requires JavaScript.</noscript>
  </div>
  <div id='calendar'></div>
{% endblock %}

{% block footer %}
  <p>Please <a href="/contact#school">contact the office</a> for Orca News content edit requests.</p>
{% endblock %}