{% extends "base.html" %}

{% block url %}{% endblock %}

{% block title %}News &amp; Messages - Elgin Park Secondary{% endblock %}
{% block stylesheet %}orca-news/messages.css{% endblock %}

{% block main %}
    {% for message in messages %}
            {% if message['url'] %}
                <a title="{{ message['text'] | safe }}" href="{{ message['url'] | safe }}" onclick="window.open('{{ message['url'] | safe }}', 'newwindow', 'width=550,height=600'); return false;" onmouseover="this.title='';"><article id="msg-{{ message['sid'] | safe }}" class="message">
                    {% if message['atts'] %}<img src="{{ message['atts'][0]['url'] | safe }}" alt>{% endif %}
                    <div class="date">{{ message['date'] | safe }}</div>
                    <span class="msg-text">{{ message['text_with_br'] | safe }} </span><span class="msg-more" aria-hidden="true">[more]</span>
                </article></a>
            {% else %}
                <article id="msg-{{ message['sid'] | safe }}" class="message">
                    <div class="date">{{ message['date'] | safe }}</div>
                    {{ message['text'] | safe }}
              </article>
            {% endif %}

        <hr>
    {% endfor %}
{% endblock %}