* {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    line-height: 1.65;
    @media (prefers-color-scheme: dark) {
        background-color: #262626;
        color: white;
    }
}

footer {
    color: #535353;
    font-size: .9em;
    @media (prefers-color-scheme: dark) {
        color: #B3B3B3;
    }
}

a:link {
    color: black;
    @media (prefers-color-scheme: dark) {
        color: white;
    }

    text-decoration-line: none;
    .msg-more {
        text-decoration-line: underline;
        color: #372FDB;
        @media (prefers-color-scheme: dark) {
            color: #8397EC;
        }
    }
}

a:visited .msg-more {
    color: #5D13C3;
    @media (prefers-color-scheme: dark) {
        color: #A781F1;
    }
}