@import url("/apzr-styles/main.css");

.date {
    color: #535353;
    font-size: .9em;
    @media (prefers-color-scheme: dark) {
        color: #B3B3B3;
    }
}

img {
    height: 110px;
    float: right;
    padding-left: 8px;
    padding-bottom: 8px;
}

hr {
    clear: both;
}