#toc {
  cursor: default;
  li {
    line-height: 1.7em;
  }
  hr {
    max-width: 10%;
    margin: 10px 0;
  }
}

article, .club {
  width: inherit;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1.3em 1.5%;
  line-height: 1.5em;
  height: auto;
  border-style: solid;
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 255, .2);
  p {
  margin-bottom: 0;
  }
  h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: .5em;
  }
  .club-info {
    clear: left;
    display: block;
  }
  .club-claim-link {
    margin-right: .3vw;
    color: #00000000;
  }
  .instagram-icon {
    position: relative;
    top: .25em;
    left: -.9em;
    margin-left: .9em;
  }
  .club-logo {
    float: right;
    height: 100px;
  }
}

#start-your-own-club {
  text-align: center;
  border-style: dashed;
  border-color: #505050;
  #start-club-text {
    margin-bottom: .8em;
  }
}

article {
  position: relative;
}
lite-youtube, .youtube-embed {
  /*position: absolute;*/
  /*display: inline;*/
  /*justify-content: right;*/
  /*top: 0;*/
  /*right: 0;*/
}

.club-info {
  font-size: .9em;
}

.downloadableContent{
  padding-top: 8px;
  line-height: 30px;
  border-style:solid;
  border-radius: 10px;
  border-color: black;
  text-align: center;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 20px;
  float: left;
  width: 404px;

}

.downloadLine{
  border-top: solid 3px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 22pt;
  padding-left: 0;
}