main {
  line-height: 1.4em;
}

p, ul, address {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

table {
  table-layout: fixed;
  width: 90%;
  font-size: 14pt;
  margin: 3vh 5%;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  caption {
    margin-bottom: 1%;
  }
  th, td {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 30%;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    word-break: break-word;
  }
  th {
    background-color: #B8B8B8;
  }
  hr {
    width: 90%;
  }
}

address {
  font-style: normal;
  line-height: 1.6em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}