#dept-toc{
  text-align: center;
  padding-left: 0;
  li {
    list-style-type: none;
    display: inline-flex;
    margin: .75em 1%;
  }
  a {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #40263B;
    position: relative;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    white-space: nowrap
  }
}

.toc li {
  line-height: 1.7em;
}

article, .course {
  width: inherit;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  line-height: 1.5em;
  height: auto;
  border-style: solid;
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 255, .2)
}

lite-youtube, .youtube-embed {
  margin-top: 1em;
  /*position: absolute;*/
  /*display: inline;*/
  /*justify-content: right;*/
  /*top: 0;*/
  /*right: 0;*/
}

.course-code {
  font-weight: bold;
  font-size: 1.2em;
}

.course-icons {
  font-size: 1em;
  padding: 1.2em .2dvw;
}

.course-info-icon {
  margin-right: .7em;
}

.grade-icon {
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  width: 2em;
  line-height: 2em;
  font-weight: bold;
  padding: 4px;
  display: inline-block;
}
.grade8{
  background-color: #A6E1FA;
  color: black;
}
.grade9{
  background-color: blue;
  color: white;
}
.grade10{
  background-color: #0C5F0C;
  color: white;
}
.grade11{
  background-color: orange;
  color: black;
}
.grade12{
  background-color: gold;
  color: black;
}

.elec-req-icon {
  text-align: center;
  vertical-align:middle;
  border-radius: 100%;
  width: 2em;
  line-height:2em;
  font-weight: bold;
  padding: 11px;
}
.req{
  background-color: purple;
  color: white;
}
.elec{
  background-color: #AD0000;
  color: white;
}

h1 {
  text-align: center;
}
h2 {
  padding-left: 0;
}
h3 {
  margin-bottom: 0;
  padding-left: 0;
}

.course-redirect {
  .course-redirect-link {
    /* button-like link */
    border-style: solid;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 5px 5px 20px;
    cursor: pointer;
    outline: none;
    color: #E1DEE9;
    border-color: #40263B;
    font-size: 30px;
    border-radius: 5px;
    background-color: #3D348B;
    transition: background-color 1.5s, color 1.5s;
    text-decoration: none;
    display: inline-block;
  }
}
