* {
    font-family: Arial;
}

header {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
input:valid,
textarea:valid {
    background-color: palegreen;
} 
body {
    background: rgb(84,50,136);
    background: linear-gradient(90deg, rgba(84,50,136,1) 15%, rgba(9,9,121,1) 100%);

    /* background-image: url(kid.png);
    background-repeat: no-repeat;
    background-position: right top;  */


}

schedule {
    background: white;
    border: 2px solid gray;
    padding: 15px;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
}

label {
    display: inline-block;
    width: 90px;
    font-size: 14px;
    padding: 1px;
    padding-bottom: 2%;
}

.submitButton {
    background-color: #808080;
    padding: 6px 18px;
    float: right;
    color: white;
    font-size: 14px;
    border: none;
    text-align: centre;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 2px solid #808080;
    cursor: pointer;
}

button:hover{
    background-color: #b8b8b8;
}

.line {
    border-bottom: 3px solid rgb(255, 0, 0);
    width: 45%;
    transform: rotate(45deg);
    transform-origin: left;
    float: right;
    position: relative;
    z-index: 2;
}

/* .line {
    border: 1px white;
    background: red;
    float: right;
} */

/* line:after {
    content:"";
    position:absolute;
    border-top:1px;
    width:70%;
    transform: rotate(30deg);
    transform-origin: 0% 0%;
} */
