body {
  cursor: progress;
}

#calendar {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  h2 {
    padding: 0;
  }
}

:root {
  --fc-button-bg-color: #40263b;
  --fc-button-border-color: #593751;
  .fc-button:disabled {
    background-color: #6C4B6B !important;
    opacity: 1 !important;
  }
  --fc-button-hover-bg-color: #231520;
  --fc-button-active-bg-color: #593751;

  @media (prefers-color-scheme: dark) {
    --fc-page-bg-color: #454545;
    --fc-list-event-hover-bg-color: #171717;
  }
}

.block-order {
  background-color: #40263b !important;
  border-color: #593751;
  text-align: center;
}