main {
    /*font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;*/
    line-height: 1.65;
    @media (prefers-color-scheme: dark) {
        background-color: #262626;
        color: white;
    }
}

main {
    padding: 1% 1%;
}

footer {
    color: #535353;
    font-size: .9em;
    /*@media (prefers-color-scheme: dark) {*/
    /*    color: #B3B3B3;*/
    /*}*/
}

main a:link {
    color: black;
    @media (prefers-color-scheme: dark) {
        color: white;
    }

    text-decoration-line: none;
    .msg-more {
        text-decoration-line: underline;
        color: #372FDB;
        @media (prefers-color-scheme: dark) {
            color: #8397EC;
        }
    }
}

main a:visited {
    color: black;
    @media (prefers-color-scheme: dark) {
        color: white;
    }

    .msg-more {
        color: #5D13C3;
        @media (prefers-color-scheme: dark) {
            color: #A781F1;
        }
    }
}


/* page-specific */
.date {
    color: #535353;
    font-size: .9em;
    @media (prefers-color-scheme: dark) {
        color: #B3B3B3;
    }
}

article img {
    height: 110px;
    float: right;
    padding-left: 8px;
    padding-bottom: 8px;
}

hr {
    clear: both;
}