body {
  cursor: progress;
}

main a:link {
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
  .msg-more {
    text-decoration-line: underline;
    color: #372FDB;
    @media (prefers-color-scheme: dark) {
      color: #8397EC;
    }
  }

  text-decoration-line: none;
}

main a:visited {
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }

  .msg-more {
    color: #5D13C3;
    @media (prefers-color-scheme: dark) {
      color: #A781F1;
    }
  }
}

#some-messages-unavailable a {
  text-decoration-line: underline;
  color: #372FDB;
  @media (prefers-color-scheme: dark) {
    color: #8397EC;
  }
}

/* page-specific */
.date {
  color: #535353;
  font-size: .9em;
  @media (prefers-color-scheme: dark) {
    color: #B3B3B3;
  }
}

article img {
  width: auto;
  height: auto;
  max-height: 110px;
  float: right;
  padding-left: 8px;
  padding-bottom: 8px;
}

hr {
  clear: both;
}
