{% extends "base.html" %}

{% block url %}{% endblock %}

{% block title %}News &amp; Messages - Elgin Park Secondary{% endblock %}
{% set stylesheet = 'orca-news/messages.css' %}
{% block head %}
  <noscript><style>#loading-text { display: none; }</style></noscript>
{% endblock %}

{% block main %}
  <h1 class="msg-divider" style="text-align: center;">News & Messages</h1>
  <div id="some-messages-unavailable">Some messages may not be available here.
    Sign in to the <a href="https://elginpark.appazur.com" rel="nofollow">
      Orca News app</a> to view them.<hr>
  </div><!-- TODO: probably use a server-side account for this -->
  <div id="loading-message">
    <label id="loading-text">Please wait... <progress aria-hidden="true"></progress></label>
    <noscript>This page requires JavaScript.</noscript>
    <script rel="preload" src="/resources/scripts/orca-news/messages.js"></script>
  </div>
{% endblock %}
